.nav{
    background-color: #444040;
    color:white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    width: 400px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content:space-between;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    width:80px;
    height: 40px;
    background-color:rgb(11, 88, 211) ;
    box-shadow: 5px 5px black;
}
.active{
    font-family: 'Mulish', sans-serif;
}
.nav-title{
    padding-left: 10px;
}