*{
    margin-left: 20px;
}

/* styling my photo */
.MoneemPicture{
    width: 120px;
    height: 120px;
    border: 4px black solid;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px grey;
    border-radius: 30px;
}
/* styling table */
table{
    border: 2px solid black;
    padding: 2px;
}
tr>th,td{
    border: 1px solid black;
}
td{
    background-color: black;
    color: white;
}
.btn{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
}